.contact {
    @include container;
    padding: 5em 0;

    h1 {
        text-align: center;
    }
}

label, input, textarea {
    display: block;
}

form {
    display: flex;
    flex-direction: column;

    @supports (display: grid) {
        @include mq {
            display: grid;
            grid-column-gap: 1em;
            grid-template-areas: 
                "name email"
                "message message"
                " . btn";

            .name {
                grid-area: name;
            }

            .email {
                grid-area: email;
            }

            .message {
                grid-area: message;
                textarea {
                    height: 10rem;
                }
            }

            .btn {
                grid-area: btn;
            }
        }
    }
}

label {
    margin-top: 1em;
    color: $dark-grey;
}

input,
textarea {
    display: block;
    width: 100%;
    min-width: 15em;
    padding: .75em;
    font-size: 1.2rem;
    background: lighten($light-grey, 7%);
    border: 1px solid $light-grey;
}

.btn {
    display: inline-block;
    width: auto;
    min-width: auto;
    margin-top: 1em;
    margin-left: auto;
    padding: .5em 1.5em;
    background: $accent;
    border: none;
    @include sans-serif($fs:2rem, $color: $white)
}